/********************** Media Query *********************************/
@media (max-width:1199px) {}

@media (max-width: 991px) {
    .slider-item-bg {
        padding: 180px 0;
        min-height: 1px;
    }
}


@media (max-width: 767px) {}

@media (max-width: 580px) {
    .slider-content .btn {
        display: block;
        width: 100%;
        margin-right: 0 !important;
        margin-bottom: 15px;
    }

    .section-header h2 {
        font-size: 28px;
    }

    .iso-logo {
        float: left;
    }

    .slider-content h1 {
        font-size: 36px;
    }

    .topbar_right_side {
        display: none !important;
    }

    .navbar-nav li.nav-item.d-none {
        display: block !important;
    }
}

@media (max-width: 520px) {}

@media (max-width: 360px) {}